@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Poppins:wght@400;500;600;700&display=swap');

* {
  font-family: 'Hanken Grotesk';
}

.app-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

